<li><a role="menuitem" onclick={{@action}} tabindex={{tabindex}} title={{@label}} aria-label={{@label}} aria-disabled={{@disabled}} aria-current={{@current}} aria-hidden={{@hidden}}>{{yield}}</a></li>
