<nav class="tei-editor-menubar">
  <AriaMenu @label="Individual Annotation">
    <li role="presentation">
      <select role="menuitem" tabindex="0" aria-label="Select the annotation to edit" onchange={{action selectAnnotation}}>
        {{#each annotations key="@index" as |annotation|}}
          {{#if (eq annotation selectedAnnotation)}}
            <option value={{annotation.attrs.id}} selected="selected">{{annotation.attrs.id}}</option>
          {{else}}
            <option value={{annotation.attrs.id}}>{{annotation.attrs.id}}</option>
          {{/if}}
        {{/each}}
      </select>
    </li>
    <AriaMenuAction @label="Delete this annotation" @disabled={{eq (get annotations 'length') 0}} @action={{action deleteAnnotation}}><MdiIcon @name="Delete"/></AriaMenuAction>
    <AriaMenuAction @label="Add an annotation" @action={{action addAnnotation}}><MdiIcon @name="Plus"/></AriaMenuAction>
  </AriaMenu>
</nav>
<div>
  <ProsemirrorEditor @schema={{@schema}} @sidebar={{@sidebar}} @text={{bodyText}} @update={{action updateAnnotationText}}></ProsemirrorEditor>
</div>
