<div class="tei-editor">
  <div>
    <AriaMenu @class="tei-editor-menubar">
      <AriaMenuAction @tabindex="0" @label="Undo"><MdiIcon @name="Undo"/></AriaMenuAction>
      <AriaMenuAction @label="Redo"><MdiIcon @name="Redo"/></AriaMenuAction>
      <AriaDropdownMenu @title="File">
        <AriaMenuAction @action={{action loadFile}}>Load</AriaMenuAction>
        <AriaMenuAction>Save</AriaMenuAction>
      </AriaDropdownMenu>
      <AriaMenuAction @current={{boolean-str (eq currentView '#tei-editor-main-text')}} @hidden={{boolean-str (not loaded)}} @action={{action setView '#tei-editor-main-text'}}>Text</AriaMenuAction>
      <AriaMenuAction @disabled={{true}} @hidden={{boolean-str (not loaded)}}>Annotations</AriaMenuAction>
      <AriaMenuAction @current={{boolean-str (eq currentView '#tei-editor-metadata')}} @hidden={{boolean-str (not loaded)}} @action={{action setView '#tei-editor-metadata'}}>Metadata</AriaMenuAction>
    </AriaMenu>
  </div>
  <div aria-hidden={{boolean-str (not loaded)}}>
    <div id="tei-editor-main-text" aria-hidden="false">
      <ProsemirrorEditor @schema={{mainTextEditorConfig}} @sidebar={{mainTextSidebarConfig}} @text={{bodyText}}></ProsemirrorEditor>
    </div>
    <div id="tei-editor-metadata" aria-hidden={{boolean-str (not loaded)}}>
      <dl>
        {{#each metadataConfig key="@index" as |section|}}
          <dt>{{section.title}}</dt>
          <dd>
            <ul>
              {{#each section.entries key="@index" as |entry|}}
                {{#if (eq entry.type 'single-text')}}
                  <li class="tei-editor-metadata-single"><label>{{entry.label}}<input type="text" value={{get metadata entry.value_key}} onchange={{action setMetadataField entry.value_key}}/></label></li>
                {{/if}}
                {{#if (eq entry.type 'multi-field')}}
                  <li class="tei-editor-metadata-multiple">
                    {{#each (get metadata entry.value_key) key="@index" as |value value_idx|}}
                    <div>
                      {{#each entry.entries key="@index" as |part_entry part_idx|}}
                        <div><label>{{part_entry.label}}<input type="text" value={{get value part_entry.value_key}} onchange={{action setMetadataField (join '.' entry.value_key value_idx part_entry.value_key)}}/></label></div>
                      {{/each}}
                      <nav>
                        <AriaMenu>
                          <AriaMenuAction @tabindex="0" @label="Delete this row" @action={{action removeMultiFieldRow entry.value_key value_idx}}><MdiIcon @name="Delete"/></AriaMenuAction>
                          <AriaMenuAction @tabindex="-1" @label="Move this row up one" @disabled={{array-first (get metadata entry.value_key) value_idx}} @action={{action moveMultiFieldRowUp entry.value_key value_idx}}><MdiIcon @name="ArrowUp"/></AriaMenuAction>
                          <AriaMenuAction @tabindex="-1" @label="Move this row one down" @disabled={{array-last (get metadata entry.value_key) value_idx}} @action={{action moveMultiFieldRowDown entry.value_key value_idx}}><MdiIcon @name="ArrowDown"/></AriaMenuAction>
                        </AriaMenu>
                      </nav>
                    </div>
                    {{/each}}
                    <AriaMenu>
                      <AriaMenuAction @tabindex="0" @label="Add a new row" @action={{action addMultiFieldRow entry.value_key entry.entries}}><MdiIcon @name="Plus"/></AriaMenuAction>
                    </AriaMenu>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </dd>
        {{/each}}
      </dl>
    </div>
  </div>
</div>
